:root {
    --brown: rgb(99, 87, 81);
    --light-blue: #add8e6;
    --lightBlack: rgb(51, 46, 46)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
}

body {
    font-family: "Computer Modern Serif", sans-serif;
}

.main-title {
    padding: 5px;
    font-size: 3.5rem;
    color: var(--brown);
}

.page-wrapper {
    width: 80%;
    margin: 0 auto;
}

.main-pic-container img {
    min-width: 15vw;
    max-width: 100%;
    min-height: 35vh;
    height: auto;
    object-fit: contain;

}

.main-pic-container {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.col-flexbox {
    display: flex;
    flex-flow: flex-start;
}

.main-description {
    margin: 1vh 8vw 0 2vw;
}

.quote {
    margin-bottom: 1em;
}

.link {
    padding-top: .5vh;
    margin: 0 3px 0 6px;
}

.main-section {
    padding-bottom: 1em;
}

/*-----MAIN SECTION ENDS------*/

.section {
    border-top: 4px solid var(--lightBlack);
    padding-bottom: 1em;
    padding-left: 1em;
}

.section-title {
    font-size: 2em;
    padding: .5em .3em;
    color: var(--brown);
}

/*------------SLECTED PHOTOS BEGINS--------------*/
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.image-flexbox {
    display: flex;
    flex: 33%;
    text-align: center;
}



.selcted-image p {
    padding-top: 7px;
    font-style: italic;

}

.selcted-image img {
    min-width: 15vw;
    max-width: 95%;
    height: 30vh;
    height: auto;
    object-fit: cover;
}

/*.selcted-image {
    border-top: 10px solid var(--lightBlack);
    border-bottom: 10px solid var(--lightBlack);
    border-right: 5px solid var(--lightBlack);
    border-left: 5px solid var(--lightBlack);

}*/




footer {
    border-top: 4px dashed var(--lightBlack);
    text-align: center;
    font-size: small;
    padding: 6vh 0 4vh 0;

}

/*----------link-----------------*/

a {
    text-decoration: none;
    color: var(--brown);
    font-weight: bold;
}


a:hover {
    background-color: var(--brown);
    color: var(--light-blue);
}

/*----------------tooltip------------------*/
.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin: 19px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*Phone adjustments*/

@media only screen and (max-width: 800px) {
    .main-pic-container img {
        min-width: 25vw;

    }

    .col-flexbox {
        display: flex;
        flex-flow: column;
    }

    .image-flexbox {
        display: flex;
        flex: 33%;
        text-align: center;
        flex-flow: column;
    }

}